*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.header{
    position: absolute;
    z-index: 11;
    font-family: ui-monospace;
    font-weight: 500;
    text-align: center;
    font-size: 49px;
    top: 40%;
    left: 50%;
    right: 50%;
    pointer-events: none;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #c1006e;
    margin-left: -50%;
    margin-right: -50%;
}

.header1{
    position: absolute;
    z-index: 11;
    font-family: ui-monospace;
    font-weight: 500;
    text-align: center;
    font-size: 13px;
    top: 52%;
    left: 50%;
    right: 50%;
    pointer-events: none;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #c1006e;
    margin-left: -50%;
    margin-right: -50%;
}